name: 'Publish Python Project'

on:
  release:
    types: [published, prereleased]

jobs:
  test-python-project:
    uses: ./.github/workflows/python_test.yaml

  # reference: https://pdm.fming.dev/latest/usage/publish/#publish-with-trusted-publishers
  pypi-publish:
    name: upload release to (Test)PyPI
    runs-on: ubuntu-latest
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    steps:
      - uses: actions/checkout@v3
      - uses: pdm-project/setup-pdm@v3
      - name: Publish package distributions to (Test)PyPI
        run: |
          if [[ "${{ github.event.release.prerelease }}" == "true" ]]; then
            pdm publish --repository testpypi
          else
            pdm publish
          fi
